// ------------------------- #FatFooter
#FatFooter {
	background-color: $color-darkgray;
	position: relative;
	border-bottom: solid 1px #595959;
	a{
		display: block;
		text-decoration:none;
		
		// &:hover{ text-decoration:none; }
	}

	nav {
		padding: 50px 0 10px;
		ul {
			// margin-bottom: 15px;
			padding: 0;
			li {
				display: inline-block;
				vertical-align: top;
				margin-bottom: 25px;
				a{
					margin:0 10px 5px;
					color: #beed00;
					font-size: 1.125em;
					padding: 5px 8px;
					border: solid 1px transparent;
					&:hover, &:focus {
						border: solid 1px #888;
					}
				}
				a.Title{
					 &:hover.Title,
					 &:focus.Title{}
				}
				// 第二層
				ul {
					li {
						display: inline;
						a {
							color: #fff;
							font-size: 1em;
							line-height: 1.2;
							// padding: 5px 8px;
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	.TopBg{
		background: url(../images/basic/bg_FatFooter_top.gif) 50% top no-repeat;
		height: 15px;
	}
	.FatFooterBtn {
		cursor: pointer;
		display: block;
		border-radius: 0 0 3px 3px;
		font-size: 1em;
		// font-weight: bold;
		width: 120px;
		background-color: $color-black;
		color: #fff;
		position: absolute;
		right: 30px;
		&:hover,&:focus{
			cursor: pointer;
		}
	}
	.close {
		float:none;
		opacity: 1;
	}
}

@media (min-width: 1200px) {
	#FatFooter nav li { width: calc(100% / 5 - 0.35% ); }
}
@media (min-width: 768px) and (max-width: 1199px) {
	#FatFooter nav ul li { width: calc(100% / 4 - 1% ); }
}
@media (max-width: 767px){
	#FatFooter nav ul li { width: calc(100% / 2 - 1% ); }
}


// ------------------------- #Footer
#Footer{
	background: $color-darkgray;
	color: #fff;
	padding: 30px 0;
	color: #a0a0a0;
	font-size: .9em;
	line-height: 1.8;

	ul, li{
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a{
		color: #beed00;
		font-weight: bold;
		text-decoration: none;
		
		&:hover, &:focus{}
	}

	span{
		margin:0 5px;
		height: 42px;
		display: inline-flex;
	}

	.Footer_logo{ margin-bottom: 10px; }

	.Footer_links{
		.Link_list{
			li a{
				display: block;
				width: 100%;
				text-align: center;
				background-color: rgba(0,0,0,.7);
				margin: 0 auto;
				margin-bottom: 5px;
				line-height: 2.2;

				&:hover, &:focus{
					text-decoration: none;
					color: #000;
					background-color: darken(#beed00,10);
				}
			}
		}
	}
	.Footer_info{}
	.Footer_icon{
		a{ margin-right: 15px;}
	}
	.Footer_Social{
		// .SocialLink{
		// 	margin: 15px 0;
		// 	a{
		// 		color: #fff;
		// 		width: 42px;
		// 		height: 42px;
		// 		display: inline-block;
		// 		border-radius: 50%;
		// 		text-align: center;
		// 		margin-bottom: 8px;
		// 		transition: all .6s ease;
		// 		i{
		// 			font-size: 1.6em;
		// 			display: inline-block;
		// 			vertical-align: middle;
		// 		}
		// 	}
		// 	a.Facebook{
		// 		background-color: #3a589b;
		// 		&:hover, &:focus{ border-radius: 0; }
		// 	}
		// 	a.Instagram{
		// 		background-color: #cf3427;
		// 		&:hover, &:focus{ border-radius: 0; }
		// 	}
		// 	a.Youtube{
		// 		background-color: #517fa6;
		// 		&:hover, &:focus{ border-radius: 0; }
		// 	}
		// 	a.RSS{
		// 		background-color: #ff6600;
		// 		&:hover, &:focus{ border-radius: 0; }
		// 	}
		// 	a.Mail{
		// 		background-color: #77c300;
		// 		&:hover, &:focus{ border-radius: 0; }
		// 	}
		// }
		.Footer_Others{}
	}
}
@media (max-width: 767px){
	#Footer{
		.col-xs-12{ margin-bottom: 15px;}
		.Footer_links{
			.Link_list{
				li a{ font-size: 1em;}
			}
		}
	}
}


.SocialLink{
	margin: 15px 0;
	a{
		color: #fff;
		width: 42px;
		height: 42px;
		display: inline-block;
		border-radius: 50%;
		text-align: center;
		margin-bottom: 8px;
		transition: all .6s ease;
		// i{
		// 	font-size: 1.6em;
		// 	display: inline-block;
		// 	vertical-align: middle;
		// 	color: #fff;
		// 	height: 42px;
		// }
		[class^="icon-"]:before,
		[class*=" icon-"]:before{
			margin-right: .3em !important;
			margin-left: .3em !important;
		}
	}

	a.Facebook, a.Instagram, a.Youtube, a.RSS, a.Mail{
		font-size: 0;
	}

	a.Facebook{
		background: url(../images/basic/icon/icon_facebook_w.svg) 50% 50% no-repeat, #3a589b;
		&:hover, &:focus{ border-radius: 0; }
	}
	a.Instagram{
		background: url(../images/basic/icon/icon_instagram_w.svg) 50% 50% no-repeat, linear-gradient(135deg, rgba(64,93,230,1) 0%, rgba(131,58,180,1) 20%, rgba(225,48,108,1) 40%, rgba(245,96,64,1) 60%, rgba(252,175,69,1) 80%, rgba(255,220,128,1) 100%);
		&:hover, &:focus{ border-radius: 0; }
	}
	a.Youtube{
		background: url(../images/basic/icon/icon_youtube_w.svg) 50% 50% no-repeat, #FF0000;
		&:hover, &:focus{ border-radius: 0; }
	}
	a.RSS{
		background: url(../images/basic/icon/icon_rss_w.svg) 50% 50% no-repeat, #ff6600;
		&:hover, &:focus{ border-radius: 0; }
	}
	a.Mail{
		background: url(../images/basic/icon/icon_mail_w.svg) 50% 50% no-repeat, #77c300;
		&:hover, &:focus{ border-radius: 0; }
	}
}