#MainContent {}

ul li,
ol li {
	line-height: 180%;
}

dl {}

dl dt {
	color: darken($color-gray, 90);
}

dt,
dd {
	line-height: 180%;
}

b,
strong {
	color: $color-secondary;
	font-size: 120%;
}

input,
button,
textarea,
select,
a {
	&:focus {
		outline: solid 3px #f66604 !important;
		border-radius: 2px !important;
	}
}

.radio label,
.checkbox label {
	margin-right: 12px;
}

// .red{ color: #f10e0e;}
// .blue{ color: #013de6;}
// .green{ color: #00b350;}

table {
	margin-bottom: 25px;
	width: 100%;

	tr {
		&:nth-child(odd) {
			background: lighten($color-gray, 2);
		}

		&:hover,
		&:focus {
			background-color: #fff3e3;
		}

		th,
		td {
			padding: 8px;
			line-height: 1.42857143;

			p {
				margin-bottom: 0 !important;
			}
		}

		th {
			background: darken($color-gray, 60);
			border: #a7a7a7 1px solid;
			color: #fff;

			b,
			strong {
				color: #fff;
				font-size: 100%;
			}
		}

		td {
			border: solid 1px darken($color-gray, 10);

			a {
				word-break: break-all;
			}
		}
	}
}

// 調整那畸形的兩格
.table>thead>tr>th {
	text-align: center;
	border-bottom: 0;
}

.table {
	table {
		background: #fff;

		tr {
			th {
				background: darken($color-gray, 60);
				color: #fff;
				text-align: center;

				b,
				strong {
					color: #fff;
					font-size: 100%;
				}
			}

			td {
				text-align: center;
			}
		}

		>thead>tr>th,
		>tbody>tr>th,
		>tfoot>tr>th,
		>thead>tr>td,
		>tbody>tr>td,
		>tfoot>tr>td {
			padding: 8px;
			line-height: 1.42857143;
			vertical-align: middle;
			// border-top: 1px solid darken($color-gray, 30);
			// min-width: 120px;
		}
	}
}

@media (max-width: 767px) {
	.table {
		table {

			>thead>tr>th,
			>tbody>tr>th,
			>tfoot>tr>th,
			>thead>tr>td,
			>tbody>tr>td,
			>tfoot>tr>td {
				// min-width: 100%;
				max-width: 100%;
			}
		}
	}
}

.table-hover {
	>tbody>tr:hover {
		background-color: #fff3e3;
	}
}

.table-bordered {
	border: 1px solid darken($color-gray, 30);

	th {
		background: darken($color-gray, 60);
		color: #fff;
		// text-align: center;
	}
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th {
	border: #a7a7a7 1px solid;
	vertical-align: middle;
}

.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	border: #ddd 1px solid;
}


// CP2 th在左側 寬度固定
.TH_Left {

	// th 的設定
	th {
		width: 20%
	}
}

@media (max-width: 767px) {
	.TH_Left {
		th {
			width: 35%
		}
	}
}

// LP4 th在上方
.TH_top {

	// th 的對齊設定
	>caption+thead>tr:first-child>th,
	>colgroup+thead>tr:first-child>th,
	>thead:first-child>tr:first-child>th,
	>caption+thead>tr:first-child>td,
	>colgroup+thead>tr:first-child>td,
	>thead:first-child>tr:first-child>td {
		text-align: center;
		vertical-align: middle;
	}

	// td 的對齊設定
	>thead>tr>td,
	>tbody>tr>td,
	>tfoot>tr>td {
		vertical-align: middle;

		&:first-child,
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8) {
			text-align: center;
		}
	}
}

// 工程師的月曆
.dhtmlxcalendar {
	width: 177px !important;
	height: 182px !important;
}

.dhtmlxcalendar table {
	margin-bottom: 0;
}

.dhtmlxcalendar table tr td {
	border: solid 1px transparent;
	padding: 0;
}

// FB share---------------------------------------------------------
.fb-comments,
.fb-comments iframe[style] {
	width: 100% !important;
}

// 讓所有容器的寬度都變成 100%
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
	width: 100% !important;
}

// FB share 自訂
.fbblock {
	width: 360px;
	height: 300px;
	float: right;

	@media (max-width: 1200px) and (min-width: 992px) {
		float: right;
		width: 310px;
		height: 300px !important;
		overflow: hidden;
	}

	@media (max-width: 991px) {
		float: none;
		clear: both;
		margin: 0 auto;
		width: 100%;
	}

	@media (max-width: 480px) {
		float: none;
		clear: both;
		margin: 0 auto;
		width: 100% !important;
	}

	iframe,
	iframe[style] {
		width: 340px;
		height: 352px;

		@media (max-width: 1200px) and (min-width: 992px) {
			width: 310px;
			height: 300px !important;
		}

		@media (max-width: 991px) {
			width: 340px;
			margin: 0 auto;
		}

		@media (max-width: 480px) {
			width: 100% !important;
			margin: 0 auto;
		}
	}
}

// ------------------------- 按鈕
.Btn_More {
	@include Btn_More;
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	.Btn_More {
		margin-top: -20px;
	}
}

.Btns {

	a,
	button {
		font-size: 1em;
		margin-bottom: 8px;
		text-decoration: none;
	}

	i {
		margin-left: 5px;
		font-size: 1.2em;
	}
}

.Btn_Search {
	@include Btn_Search;
}

// 搜尋
#Btn_GoTop {
	@include Btn_GoTop;
}

// 到頂端

.Btn-Sent {
	background: $color-main !important;
	color: #fff !important;

	&:hover {
		background: lighten($color-main, 10%) !important;
	}
}

.Btn-Normal {
	background: rgba($color-black, .5) !important;
	color: #fff !important;

	&:hover {
		background: rgba($color-black, 1) !important;
	}
}

// 展開收合
.btn_grp {

	.btn {
		margin: 0 auto;
		display: inherit;
		font-size: 1.125em;
		padding: .5em 1.25em;
	}

	.btn-switch {
		background: #0a748e;
		color: #fff;
	}
}

// 社群按鈕
.Community_Btn {
	float: right;

	.Rss-BTN,
	.FB-BTN,
	.Twitter-BTN,
	.Google-BTN,
	.Plurk-BTN,
	.Print-BTN {
		width: 40px;
		height: 40px;
		// line-height: 40px;
		text-align: center;
		display: inline-block;
		border-radius: 50%;
		margin: 0 5px;
	}

	.Rss-BTN i,
	.FB-BTN i,
	.Twitter-BTN i,
	.Google-BTN i,
	.Plurk-BTN i,
	.Print-BTN i {
		color: #fff;
		font-size: 1.25em;
	}

	.Rss-BTN {
		background: #f8991d !important;
	}

	.FB-BTN {
		background: url(../images/basic/icon/icon_facebook_w.svg) 50% 50% no-repeat, #3a589b !important;
	}

	.Twitter-BTN {
		background: #17b3c9 !important;
	}

	.Google-BTN {
		background: #cf262a !important;
	}

	.Plurk-BTN {
		background: #f2793e !important;
	}

	.Print-BTN {
		background: url(../images/basic/icon/icon_print_w.svg) 50% 50% no-repeat, #555;
		background-size: 22px 22px;
	}
}

@media (max-width:767px) {
	.Community_Btn {
		float: none;
		margin: 10px 0;
	}
}


// 字級按鈕
.FontSize_Change {
	position: absolute;
	right: 15px;
	top: 0;

	a {
		display: inline-block;
		width: 46px;
		line-height: 46px;
		text-align: center;
		background: #555;
		color: #fff;
		text-decoration: none;

		&:hover,
		&:focus {
			background: adjust_hue(desaturate(#beed00, 55), 43);
			color: #fff;
			text-decoration: none;
		}
	}

	.active {
		background: adjust_hue(desaturate(#beed00, 55), 43);
	}
}

@media (max-width:767px) {
	.FontSize_Change {
		position: relative;
		margin: 10px 15px;
	}
}


// Slider ---------------------------------------------------------
.Slider {
	// 清除.Box的樣式
	padding: 0 !important;
	border: 0 !important;
	// margin: 0 !important;

	// 單張輪播(主圖)
	.Singleplay {
		.Pic {
			// 圖片 + 文字項目
			// position: relative;
			width: 555px;

			img {
				width: auto;
				height: 300px;
				margin: 0 auto;
			}

			a {
				display: block;
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: none;
				}
			}

			.Text {
				// position: absolute;
				// bottom: 0;
				text-align: left;
				overflow: hidden;
				font-size: 1em;
				text-align: center;
				background: rgba(0, 0, 0, .4);
				padding: 0 15px;
				color: #fff;

				// width: 100%;
				p {
					margin-bottom: 0;
					line-height: 2.2;
					text-align: left;
				}

				// a{
				// 	text-decoration: none;
				// 	color: #fff;
				// 	&:hover,&:focus{
				// 		// color: #ff4700;
				// 	}
				// }
				h3 {
					margin-top: 10px;
					margin-bottom: 10px;
					padding-bottom: 15px;
					font-size: 1.25em;
					border-bottom: dotted 1px rgba(255, 255, 255, .5);
					color: #fff;
				}

				h3,
				p {
					// 單行文字 過長就刪節號
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}

		.slick-dots {
			bottom: -30px;
			justify-content: flex-end;
		}
	}

	// Banner 輪播 (10張)
	.BannerSlide {
		.Set {
			position: relative;

			a {
				display: inline-block;
				@include Clear_inline_block;
				width: calc(100% / 5);
				padding: 2px 8px;
				margin: 0 -2px;

				img {
					width: 220px;
					height: 80px;
					border: solid 1px #e5e5e5;
				}
			}
		}

		// 自訂左右按鍵樣式
		.slick-prev,
		.slick-next {
			width: 28px;
			height: 60px;
			// top:35%;
		}

		.slick-prev {
			left: -10px;
			display: block;
			background: url(../images/basic/slick/left2.png) no-repeat 0 0;
			opacity: 0.5;

			&:hover,
			&:focus {
				opacity: 1;
				background: url(../images/basic/slick/left2.png) no-repeat 0 0;
			}
		}

		.slick-next {
			right: -10px;
			background: url(../images/basic/slick/right2.png) no-repeat 0 0;
			opacity: 0.5;

			&:hover,
			&:focus {
				opacity: 1;
				background: url(../images/basic/slick/right2.png) no-repeat 0 0;
			}
		}

		//  隱藏左右按鈕預設圖片
		.slick-prev {

			&:before,
			&:hover:before,
			&:focus:before {
				opacity: 0;
			}
		}

		.slick-prev.slick-disabled {
			&:before {
				opacity: 0;
			}
		}

		.slick-next {

			&:before,
			&:hover:before,
			&:focus:before {
				opacity: 0;
			}
		}

		.slick-next.slick-disabled {

			&:before,
			&:hover:before,
			&:focus:before {
				opacity: 0;
			}
		}

		// 圓���位置
		.slick-dots {
			bottom: 0px;

			li button {
				&:before {
					color: #fff;
					opacity: .4;
					font-size: .75em;
				}
			}

			li.slick-active button {
				&:before {
					opacity: 1;
					color: $color-adorn !important;
				}
			}
		}
	}

	.slick-slider {
		margin-bottom: 0;
	}

	// 自訂左右按鍵樣式
	.slick-prev,
	.slick-next {
		width: 35px;
		height: 66px;
		top: 40%;
	}

	.slick-prev {
		left: 15px;
		background: url('../images/basic/slick/left-white.png');

		&:hover,
		&:focus {
			background: url('../images/basic/slick/left-white.png');
		}
	}

	.slick-next {
		right: 15px;
		background: url('../images/basic/slick/right-white.png');

		&:hover,
		&:focus {
			background: url('../images/basic/slick/right-white.png');
		}
	}

	// 隱藏左右按鈕預設圖片
	.slick-prev {

		&:before,
		&:hover:before,
		&:focus:before {
			opacity: 0;
		}
	}

	.slick-prev.slick-disabled {
		&:before {
			opacity: 0;
		}
	}

	.slick-next {

		&:before,
		&:hover:before,
		&:focus:before {
			opacity: 0;
		}
	}

	.slick-next.slick-disabled {

		&:before,
		&:hover:before,
		&:focus:before {
			opacity: 0;
		}
	}

	// 圓點位置
	.slick-dots {
		// bottom: -35px;
		text-align: right;

		li button {
			&:before {
				color: #fff !important;
				opacity: .4;
				font-size: .75em;
				background: #fff;
				border-radius: 50%;
				overflow: hidden;
				width: 14px;
				height: 14px;
			}
		}

		li.slick-active button {
			&:before {
				opacity: 1;
				color: #000 !important;
				;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.Slider {
		.Singleplay {
			.Pic {
				.Text {
					width: 555px;
					margin: 0 auto;
				}
			}
		}

		// 圓點位置
		.slick-dots {
			bottom: -40px;
			text-align: center;
		}
	}
}

@media (max-width:767px) {
	.Slider {
		.Singleplay {
			.Pic img {
				height: 210px;
			}
		}

		// 圓點位置
		.slick-dots {
			bottom: -40px;
			text-align: center;
		}

		// Banner輪播
		.BannerSlide {
			.Set {
				a {
					display: inline-block;
					@include Clear_inline_block;
					width: calc(100% / 2);
					padding: 0 8px;

					img {
						width: 220px;
						height: 80px;
						margin: 0 auto;
					}
				}
			}

			// 自訂左右按鍵樣式
			.slick-prev,
			.slick-next {
				top: 48%;
			}

			.slick-prev {
				left: 0;
			}

			.slick-next {
				right: 0;
			}
		}
	}
}


// ------------------------- 列表
.List {
	margin: 5px 0;
	font-size: 1em;

	ol {
		// @include List_Style(none);
	}

	li {
		a {
			// @include One_Line_Text;
			display: block;
			// border-bottom: dotted 1px lighten($color-black,70%);
			padding: 5px 15px;
			text-decoration: none;
			// color:$color-main;
			letter-spacing: 1px;
			font-weight: bold;

			&:hover {
				background: lighten($color-black, 97%);
			}

			span.Date {
				margin-left: 12px;
				color: #55545f;
			}
		}

		&:last-child a {
			border-bottom: dotted 1px transparent;
		}
	}

	p {
		margin-bottom: 0;
		overflow: hidden;
	}

	.media {
		margin: 10px 0;

		.pic {
			width: 100%;

			img {
				max-width: 100%;
				max-height: 240px;
				margin: 0 auto;
			}
		}
	}

	.media-body {
		width: 100%;
		display: block;

		.media-More {
			background: lighten($color-black, 20%);
			color: #fff;
			padding: 3px 10px;
			border-radius: 3px;
			line-height: 2;

			&:hover {
				background: $color-main;
				text-decoration: none;
			}
		}

		.media-heading {
			font-size: $font-size;

			a {
				// @include One_Line_Text;
				padding: 5px 0;
				display: block;
				font-weight: bold;
				color: $color-main;

				&:hover {
					text-decoration: none;
					background: lighten($color-black, 97%);
				}

			}
		}
	}
}

@media (max-width:767px) {
	.List {
		.media {
			height: 100%;

			.pic {
				width: 100%;

				img {
					width: 100%;
					height: 60%;
				}
			}
		}
	}
}

// ------------------------- RWD Table

.Smooth_Table {

	a,
	a:hover,
	a:focus {}

	&:before,
	&:after {
		display: table;
		content: '';
	}

	// Table版
	#TansForm-table {
		width: 99.9%;
		background-color: #ffffff;
		border-collapse: collapse;
		margin-bottom: 20px;
		font-size: 1em;
		display: table;

		tr {
			&:nth-of-type(odd) {
				background-color: #f9f9f9;
			}

			&:hover,
			&:focus {
				background-color: #fff3e3;
			}

			td,
			th {
				padding: 10px 8px;
			}

			td {
				color: #666;
				border: #ddd 1px solid;

				&:first-child {
					width: 10%;
				}

				// &:nth-child(2), &:nth-child(3){ width: 45%;}
			}

			th {
				color: #fff;
				border: #a7a7a7 1px solid;
				background-color: #5a5a5a;
				text-align: center;
			}
		}
	}

	.break-table {
		th.width40 {
			width: 40px;
		}

		th.width90 {
			width: 90px;
		}

		td {
			.Name {
				font-size: 1em;
			}

			// RWD Table名稱
		}
	}
}

@media only screen and (max-width: 767px) {

	.table-responsive {
		border: solid 1px transparent;

		.Smooth_Table {
			#TansForm-table {
				tr td {
					min-height: 60px;

					&:first-child {
						width: 100%;
					}

					&:nth-child(2),
					&:nth-child(3) {
						width: 100%;
					}
				}
			}

			// Force table to not be like tables anymore
			.break-table {
				background-color: transparent !important;
				display: block;

				thead,
				tbody,
				th,
				td,
				tr {
					display: block;
				}

				// Hide table headers (but not display: none;, for accessibility)
				thead tr {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}

				tr {
					border: 1px solid #ccc;
					margin-bottom: 10px;
					background-color: #ffffff;
				}

				td {
					// Behave like a "row"
					border: none !important;
					border-bottom: 1px solid #eee !important;
					position: relative;
					// padding-left: 26% !important;
					padding-left: 120px !important;
					white-space: normal;
					text-align: left;

					&:before {
						position: absolute; // Now like a table header
						top: 6px; // Top/left values mimic padding
						left: 6px;
						// width: 30%;
						width: 100px;
						padding-right: 10px;
						// white-space: nowrap;

						text-align: left;
						font-weight: bold;
						color: #1a1a1a;
						content: attr(data-title);
					}
				}
			}
		}
	}
}

// ------------------------- 展開收合內容
.According {
	.box {
		height: 200px;
		overflow: hidden;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
			width: 100%;
			height: 60px;
			bottom: 0;
		}
	}

	.intro {}

	.links {
		height: 480px;
	}

	.act {
		height: 100%;

		&:after {
			// background: none;
			display: none;
		}
	}
}
