@charset "UTF-8";
// base on hyuiFlex
@import "_variable";	 // 變數

// 共通 common
@import 'common/_mixin'; //客製MIXIN
@import 'common/_grid';  //格線 - bootstrap
@import 'common/_grid-flex'; //格線 - flex
@import 'common/_normalize'; //reset
// @import 'common/_accessibility'; //無障礙關閉js設定
@import 'common/_hack'; //瀏覽器修正
@import "compass/css3";

// 元件 element
// @import 'element/_font'; //文字設定
// @import 'element/_language'; //語言選單
@import 'element/_btn'; //按鈕設定
// @import 'element/_breadcrumb'; //麵包屑
// @import 'element/_divider'; //分隔線
// @import 'element/_image'; //圖片
@import 'element/_icon'; //圖示
// @import 'element/_tooltip'; //tooltip
// @import 'element/_category'; //資料大類
// @import 'element/_tag'; //文章標籤
@import "element/_element"; //小元素

@import 'modual/_form-beta'; //表單（純flex）
@import 'modual/_table'; //表格
// @import 'modual/_list'; //表單樣式
// @import 'modual/_link'; //連結樣式
// @import 'modual/_tabs'; //頁籤
// @import 'modual/_thumbnail'; //縮圖
// @import 'modual/_modal'; //pop視窗
// @import 'modual/_slick'; //slick
// @import 'modual/_function_panel'; //內頁功能面板
// @import 'modual/_marquee'; //跑馬燈
// @import 'modual/_paginations'; //分頁
@import 'modual/_notice'; //提示
// @import 'modual/_accordion.scss'; //收合式選單
// @import "../vendor/fancyBox/fancybox.css"; //燈箱
// @import "../vendor/slick/slick.css"; //燈箱
// @import "../vendor/slick/slick-theme.css"; //燈箱


@import "_image";
@import "_mixinOriginal";
@import "_Framework"; // HTML框架
@import "_Header";	  // 頁頭
@import "_Footer";	  // 頁尾
@import "_Content";	  // 內頁

@import "print";	 // 友善列印

body,html{
	font-family: "微軟正黑體", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1em;
}
section{}

h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
	word-break: break-all;
	color:$Title-color;
	margin-top: 10px;
	font-weight: bold;
}

p{
	margin-bottom: 15px;
	@extend %text-line-height;
	// font-size: 1em;
	font-size: 100%
}

a{
	// @include Text;
	color:$link-color;
	// text-decoration: underline;
	&:hover, &:focus{
		color: $color-adorn;
		// text-decoration: none;
	}
}

blockquote{
	border-left: 5px solid #fff;
	// font-size: 1em;
	font-size: 100%
}

@media print {
	a[href]:after {
		// content:none !important"" ;
		content:"";
		content: none !important;
	}
}

.clear-fix {
	zoom:1; /*IE6, IE7*/
	&:before, &:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
}

// ------------------------- 斷點
@media (min-width: 1200px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 361px) and (max-width: 767px) {}
@media (max-width: 360px) {}



@media (min-width:1200px) {
	.pull-lg-left{float:left!important;}
	.pull-lg-right{float:right!important;}
}
@media (min-width:992px) and (max-width:1199px) {
	.pull-md-left{float:left!important;}
	.pull-md-right{float:right!important;}
}
@media (min-width:768px) and (max-width:991px) {
	.pull-sm-left{float:left!important;}
	.pull-sm-right{float:right!important;}
}
@media (max-width:767px) {
	.pull-xs-left{float:left!important;}
	.pull-xs-right{float:right!important;}
}

@media (min-width: 768px){
	.navbar-nav > li > a{
		padding: 5px 8px;
	}
}